<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">

    <h3>Upload Bank PDF statement</h3>
    <form action="/expense" method="post" enctype="multipart/form-data">
        <input type="file" name="pdfFile" accept="application/pdf" required>
        <button type="submit">Upload</button>
    </form>

    <div style="margin-top: 2rem;">
      <h6> Tips for better usage</h6>

      <ul>
        <li>while transacting enter reason of the each transaction on payment apps.</li>
        <li>Stick with some group of reasons to track your expense easily. (eg., food, game, grocery)</li>
      </ul>
    </div>
</main>

<footer>
</footer>

</body>
</html>